
.card-container {
    display: flex;
    align-items: center;
    background: #38058f;
    width: 100%;
    /* height: 80px; */
    border-radius: 12px;
    border-top-left-radius: 30px ;
    border-bottom-left-radius: 30px ;
    color: white;
    font-family: Arial, sans-serif;
    position: relative;

   
  }
  
  .profile-picture2 {
    position: relative; /* لجعل الصورة المستطيلة تتداخل مع الصورة الدائرية */
  }

  .circular-image2 {
    width:50px;
    height: 50px;
    margin-left: -21px;

    margin-right: 10px; /* تقليل المسافة بين الصورة الدائرية والمحتوى */
    border-radius: 50%;
 
  }
  .profile-img{
    width: 60px !important;
    height: 60px !important;
    margin-left: -18px;
    margin-right: 10px;
    margin-bottom: -3px;
    display: inline-block;
 
  }
  
  .content2 {
    display: flex;

    flex-grow: 1;
    /* padding: 10px;
    margin-top: 10px; */
   justify-items: center;
   align-items: center;
  }
  
  .text-content2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .content2 h3 {
    font-size: 0.9rem;
    margin: 0;
   

  }
  
  .content2 p {
    font-size: 0.7rem;
    color: #ddd;
    margin:1px 0 0; 
  
  }
  
 
/* استجابة الشاشات المتوسطة */
@media (max-width: 768px) {
  .card-container2 {
    width: 70%; 
    height:150px; 
    flex-direction: column; 
    text-align: center; 
    padding: 15px;
  }

  .circular-image2 {
    width: 40px;
    height: 40px;
    margin: 0 auto 10px; /* توسيط الصورة وإضافة مسافة سفلية */
  }

  .content2 h3 {
   margin-top: -10px;
    font-size: 0.9rem;
  }

  .content2 p {
    font-size: 0.7rem;
  }
}

/* استجابة الشاشات الصغيرة */
@media (max-width: 480px) {
  .card-container {
    flex-wrap: wrap;
    /* flex-direction: column; */
    padding: 0;
    gap: 10px;
    /* margin: 2px; */
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    
  }

  .circular-image2 {
    width: 30px;
    height: 30px;
  }
  .profile-img{
    width: 50px !important;
    height: 50px !important;
 
    margin: 0;
    margin-top: 10px !important;
    margin-left: -10px;
 
  }
  .content2 {
flex-grow: 0;
margin: 0;


  }
  .text-content2{
    margin-left: -10px;
  }
  
  .content2 h3 {
 
    font-size: 12px;
    margin: 0;
  }

  .content2 p {
    font-size: 10px;
  }
}