.header {
    display: flex;
    align-items: center; 
    padding: 10px 10px; 
    font-family: 'Calibri', sans-serif;
    color: rgb(255, 255, 255);
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    padding-right: 10px;
    padding-left: 10px;
  }
  .right{
    display: flex;
  
  }
  .nav-links1{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
   
  }
  
  .nav-links1 ul {
    list-style-type: none;
    display: flex;
    gap: 12px;
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
   
  }
  
  .nav-links1 a {
    color: rgb(80, 3, 95);
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .nav-links1 a:hover {
    color: #f0a500; /* لون التمرير */
  }
  
  .auth-buttons1 {
    display: flex;
    gap: 2px;
  }
  
  
  .logo1 {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .create-button1, .login-button1, .buy-button1, .connect-wallet1 {
    background: linear-gradient(to bottom right, #640D5F, rgb(199, 113, 238));
    border: none;
    padding: 10px 15px;
    border-radius: 15px;
    cursor: pointer;
    width: auto;
    transition: background-color 0.3s;
    color: white;
    min-height: 50px;
    width: 150px;
  }
  
  .create-button:hover, .login-button:hover, .buy-button:hover, .connect-wallet:hover {
    background:linear-gradient(to bottom right, #640D5F, rgb(8, 8, 56)); /* لون عند المرور */
  }
  
  .search-container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-grow: 1; 
    margin: 0; 
   
  }
  .search-bar {
    height: 35px;
   width: 100px;
    border-radius: 15px;
    color: #000;
    border: #640D5F 1px solid;
    background-color: rgb(202, 190, 250);
    transition: all 0.4s ease; 
    flex-grow: 1; 
    margin: 10px; 
    padding-left: 10px;
  }
  
  .search-icon {
    font-size: 22px; 
    color: rgb(80, 3, 95);
    cursor: pointer;
    margin-top: 22px;
    
  }
  
  .burger-icon {
    display: none; 
    background: none;
    border: none;
    font-size: 25px;
    cursor: pointer;
    margin-right: 10px;
    color: rgb(80, 3, 95);
    /* text-align: end; */
   
  
  }
  
  
  .nav-links1 {
    display: flex;
    gap: 25px;
    justify-content: space-between;
  }
  
  .nav-links1.active {
    display: block; 
  
   
  
  
  }
  .btn_group{
    display: flex;
    gap: 20px;
  }
  
  @media (max-width: 1250px) {
    .header {
      align-items: center;
      padding: 20px;
      height: auto;
  
      justify-content: space-between;
  
     
    }
    
    .burger-icon {
      display: block; /* إظهار الزر في الشاشات الصغيرة */
    }
  
    .nav-links1 {
      display: none; /* إخفاء الروابط في الوضع العادي */
      position: absolute;
      top: 0px; 
      right: 0; 
     
      background-color: white;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      width: 20%;
      flex-direction: column;
      padding: 10px;
      z-index: 1000;
    
      border-bottom-left-radius: 10px;
      justify-content:center;
      gap: 10px;
      transition: right 0.5s ease; 
      height: 100vh;
      padding-top: 9% !important;
    
    }
  
    .nav-links1.active {
     
               display: flex ;
              align-items: center;
              right: 0;
              justify-content: flex-end;
              gap: 10px;
              flex-direction: column-reverse
    }
  
    .nav-links1 ul {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
  
    .nav-links1 li {
      list-style: none;
    }
  
    .nav-links1 a, .nav-links1 button {
      font-size: 16px;
      border: none;
      cursor: pointer;
      text-align: center;
      transition: background-color 0.3s ease;
    }
    .btn_group{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    }
    .logo1_contanier{
      width: 30%;
    }
    .burger-icon {
      width: 30%;
    }
  
  
  }
  
  @media (max-width: 786px) {
    .header {
      align-items: center;
      padding: 20px;
      height: auto;
  
      justify-content: space-between;
  
     
    }
    
    .burger-icon {
      display: block;
    }
  
    .nav-links1 {
      display: none; 
      position: absolute;
      top: 0px; 
      right: 0; 
     
      background-color: white;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      width: 30%;
      flex-direction: column;
      padding: 10px;
      z-index: 1000;
    
      border-bottom-left-radius: 10px;
      justify-content:center;
      gap: 10px;
      transition: right 0.5s ease; 
      height: 100vh;
      padding-top: 9% !important;
    
    }
  
    .nav-links1.active {
     
               display: flex ;
              align-items: center;
              right: 0;
              justify-content: flex-end;
              gap: 10px;
              flex-direction: column-reverse
    }
  
    .nav-links1 ul {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
  
    .nav-links1 li {
      list-style: none;
    }
  
    .nav-links1 a, .nav-links1 button {
      font-size: 16px;
      border: none;
      cursor: pointer;
      text-align: center;
      transition: background-color 0.3s ease;
    }
    .nav-links1 .primaryButton{
      width: 140px;
   
  }
    .btn_group{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    }
    .logo1_contanier{
      width: 30%;
    }
    .burger-icon {
      width: 30%;
    }
  }
  
  /* استجابة الشاشات الصغيرة */
  @media (max-width: 480px) {
    .header {
      align-items: center;
      padding: 20px;
      height: auto;
  
      justify-content: space-between;
  
     
    }
    
    .burger-icon {
      display: block; 
    }
  
    .nav-links1 {
      display: none; 
      position: absolute;
      top: 0px; 
      right: 0; 
     
      background-color: white;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      width: 50%;
      flex-direction: column;
      padding: 10px;
      z-index: 1000;
    
      border-bottom-left-radius: 10px;
      justify-content:center;
      gap: 10px;
      transition: right 0.5s ease; 
      height: 100vh;
      padding-top: 20% !important;
    
    }
  
    .nav-links1.active {
     
               display: flex ;
              align-items: center;
              right: 0;
              justify-content: flex-end;
              gap: 10px;
              flex-direction: column-reverse
    }
  
    .nav-links1 ul {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
  
    .nav-links1 li {
      list-style: none;
    }
  
    .nav-links1 a, .nav-links1 button {
      font-size: 14px;
      border: none;
      cursor: pointer;
      text-align: center;
      transition: background-color 0.3s ease;
    }
    .nav-links1 .primaryButton{
        width: 132px;
     
    }
    .btn_group{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    }
    .btn_group .Buy_A_Mas, .btn_group .ConnectWallet{
      display: none;
    }
    .logo1_contanier{
      width: 30%;
    }
    .burger-icon {
      width: 30%;
    }
  }
  
  
  
  
  
  