* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif !important;
  }
  
  .home {
      padding: 0;
      margin: 0;
      
      
      font-family: 'Arial', sans-serif ;
    }
    
    .section {
      margin: 20px auto;
      max-width: 1200px;
      padding: 20px;
    }
    
    .centered-container {
      display: grid;
      place-items: center;
      margin: 20px auto;
      text-align: center;
    }
    
    .profile-cards-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 20px;
      width: 100%;
      padding: 20px;
    }
    
    .image-grid {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
      align-items: center;
    }
    
    .section-title {
      color: white;
      font-size: 50px;
      font-weight: bolder;
      text-shadow: 0px 0px 10px #fff, 0px 0px 20px #640D5F, 0px 0px 40px #640D5F, 0px 0px 50px #640D5F;
    }
    
    .main-section {
      background-color: #0c0131;
      padding: 50px 0;
    }
    
    @media (max-width: 768px) {
      body.home{
        
      }
      .section {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      }
    
      .section-title {
        font-size: 40px;
      }
    }
    
    @media (max-width: 480px) {
      .section-title {
        font-size: 30px;
      }
    
      .image-grid {
        flex-direction: column;
      }
    }
    