@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins',sans-serif;
} */

body.SignupStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url(https://user-images.githubusercontent.com/13468728/233847739-219cb494-c265-4554-820a-bd3424c59065.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

section {
    position: relative;
    max-width: 600px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(55px);
    display: flex;
    justify-content: center;
    align-items: center;
  padding: 0 20px;



}

h1 {
    font-size: 2rem;

    text-align: center;
    color: rgb(80, 3, 95);
}

.inputbox {
  margin-top: 20px;
  margin-bottom: 20px;
}





country-button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 8px;
    transition: background-color 0.3s;
  }
  
  .country-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .country-flag {
    display: inline-block;
    width: 24px;
    height: 16px;
    background-size: cover;
    margin-right: 8px;
  }


/*  */

.register {
    font-size: 0.9rem;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;  
}

.register p a {
    text-decoration: none;
    /* color: #fff; */
    font-weight: 600;
    color: rgb(80, 3, 95);
}

.register p a:hover {
    text-decoration: underline;
}