
a.active {
    color: theme("colors.secondary");
}
.gradient-border {
    border: 3px solid hotpink;
    border-radius: 16px;
    border: double 3px transparent;
    background-image: linear-gradient(white, white),
        theme("backgroundImage.linear");
    background-origin: border-box;
    background-clip: content-box, border-box;
}
.selectService:hover,
.selectService.select {
    background-color: theme("colors.myGray-100");
    color: theme("colors.secondary");
}
/* to change color svg  */
.fill-white {
    fill: white !important;
}  